version: '3.8'

services:
  web:
    build: .
    container_name: boogle_web
    ports:
      - "5000:5000"
    volumes:
      - ./boogle/storage/data:/app/boogle/storage/data
    environment:
      - FLASK_PORT=5000
      - STORAGE_PATH=/app/boogle/storage/data
      - FLASK_ENV=development
    restart: unless-stopped
    networks:
      - boogle-net

  crawler:
    build: .
    container_name: boogle_crawler
    command: [ "python3", "-m", "boogle.crawler.crawler" ]
    volumes:
      - ./boogle/storage/data:/app/boogle/storage/data
    environment:
      - STORAGE_PATH=/app/boogle/storage/data
    restart: unless-stopped
    networks:
      - boogle-net

networks:
  boogle-net:
    driver: bridge
